._container {
  max-width: $widthContainer + px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

._title {
  font-family: 'Forum';
  line-height: 96px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  @include adaptive-value('font-size', 64, 40, 1);
}

._icon {
  font-family: 'Archeologicaps';
  font-weight: 500;
  line-height: 45px;
  text-indent: 5px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

._num {
  font-feature-settings: 'pnum' on, 'lnum' on;
}

._text {
  line-height: 36px;
  letter-spacing: 0.07em;
}

._btn-mini {
  width: 90px;
  padding: 4px 8px;
  font-size: .8em;
}

._btn {
  width: 200px;
  padding: 10px 20px;
}

._btn-mini,
._btn {
  color: #fff;
  border-radius: 5px;
  background: #000;
  transition: background .4s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #1C1C1C;
  }
}

body.lock {
  overflow: hidden;
}