@font-face {
  font-family: "Archeologicaps";
  src: local("Archeologicaps"),
  url(~@/assets/fonts/Archeologicaps/Archeologicaps.ttf) format("truetype");
}

@font-face {
  font-family: "Forum";
  src: local("Forum"),
  url(~@/assets/fonts/Forum/Forum.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
  url(~@/assets/fonts/Raleway/Raleway.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url(~@/assets/fonts/Montserrat/Montserrat.ttf) format("truetype");
}